/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    height: 100vh; 
    margin: 0;
}

/* Estilos del formulario */
#loginForm {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

h1 {
    text-align: top;
    margin-bottom: 5px;
    color: #333333;
}

/* Estilos de los campos de entrada */
label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    color: #555555;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

/* Estilos del bot贸n de inicio de sesi贸n */
#btnsubmit {
    background-color: #4CAF50;
    color: #ffffff;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-weight: bold;
}



/* Estilos del bot贸n de inicio de sesi贸n */
#btnregistrarse {
    background-color: #634caf;
    color: #ffffff;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-weight: bold;
    margin-top: 1rem;
}

#btnsubmit:hover {
    background-color: #45a049;
}